:root {
    --main-color: #ff8d74;
		--secondary-color: #ff5631;
}

body{
	text-align: center;
	margin: auto;
	background-image: linear-gradient( var(--main-color), var(--secondary-color) );
}

div{
	text-align: center;
	margin: auto;
	width: 400px;
	max-width: 100%;
	margin: auto;
}

button{
	display: inline-block;
	font-size: 16px;
	padding: 5px 12px;
	margin: 5px;
	background-color: #52c9c3;
	text-shadow: grey 1px 1px 1px;
	color: #ececec;
	box-shadow: 2px 2px 2px grey;
	border-radius: 5px;
	border: none;
}

button a{
	color: #ececec;
}

button a:hover{
	color: #ececec;
}

/* HERE IS WHERE ALL OF THE CLASS THINGS GO. */

/* This fixes problems we get with the navbar divs. */
.navbar div{
	text-align: center;
	margin: auto;
	width: 75%;
	max-width: none;
	margin: auto;
}

.navbar-brand{
	font-family: Pacifico, cursive;
}

/* Fixes button goiing to far right, making in not centered. */
.form-check{
		padding-left: 0px;
}

/* .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link{ */
	/* color: #52c9c3; */
/* } */

/* HERE IS WHERE WE EDIT THINGS BY THEIR ID. */

#homeLogo{
	width: 300px;
}