<DOCTYPE html>
<html lang="en-us">

<head>
	@MACRO=heading
</head>

<body>
	@MACRO=nav
	
	<div>
		<img id="homeLogo" src="images/justo-logo.png">
		<h3>Open platforms and why they are the best strategy for finding both qualified employees and jobs</h3>
		<p class="text-block">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae mi facilisis, pretium metus vulputate, fringilla quam. Curabitur venenatis et ex ac auctor. Curabitur vehicula vestibulum urna vitae accumsan. Nullam bibendum justo et mi vestibulum, non tincidunt eros ultrices. Aliquam sit amet lacinia nisl. Sed facilisis, turpis in dignissim commodo, lectus nisl molestie eros, eget tristique nisi dui egestas sapien. Fusce eget rutrum velit. Fusce vel felis a risus porttitor scelerisque quis at sapien. Phasellus pretium dolor nec sagittis pulvinar. Nulla ut lacus pharetra, suscipit ante eget, faucibus diam. Donec pretium lorem nisl, ac vestibulum turpis dapibus nec. Sed feugiat interdum rhoncus. Nulla facilisi. Aenean ac sem vel enim euismod pulvinar. Praesent ornare felis ut turpis mattis, nec tempus tellus malesuada. Aliquam vel sapien eu magna sollicitudin vestibulum.
		</p>
		<h3>Settling disputes fairly</h3>
		<p class="text-block">
			Vestibulum elementum eros ut massa tristique sagittis. In nisl dolor, eleifend et ornare malesuada, placerat non purus. Maecenas suscipit lacus ullamcorper consectetur dictum. Fusce at tempor sem. Quisque pellentesque dolor sed lorem ornare efficitur. Ut cursus tempor orci. Integer laoreet volutpat nibh, a vestibulum ex aliquam eu. Praesent scelerisque eu ligula eu mattis. Fusce ornare magna vitae quam lacinia congue. Cras dignissim urna non risus elementum, sit amet accumsan lacus tristique. Nullam ex libero, blandit tempor libero nec, dictum hendrerit leo.
		</p>
		<h3>Getting paid made easy</h3>
		<p class="text-block">
			Cras magna leo, malesuada id arcu nec, egestas porttitor tellus. Suspendisse egestas scelerisque purus, in congue lorem. Vestibulum pharetra arcu ut nisl malesuada ullamcorper. Mauris in felis in urna scelerisque posuere. Nullam porttitor quam tortor, sed lacinia leo molestie sed. Mauris sagittis consequat vulputate. Curabitur non vulputate urna. Cras mollis nunc vitae lacus semper dapibus. Ut et gravida sapien, vitae euismod erat. Cras placerat mauris eu sem dapibus, ut sollicitudin ligula dignissim. Vivamus in massa faucibus, blandit eros id, laoreet diam. Praesent tempor porta sem, in maximus metus. Etiam sapien dui, imperdiet eget tortor finibus, elementum condimentum dui.
		</p>
	</div>
	
	<div class="container">
		
		<div class="row">
			
		</div>
		
	</div>
	
	@MACRO=footer
	
	@MACRO=utilScripts
	
</body>

</html>