<DOCTYPE html>
<html lang="en-us">

<head>
	@MACRO=heading
</head>

<body>
	@MACRO=nav
	
	<div>
		<img id="homeLogo" src="images/justo-logo.png">
	</div>
	
	<div class="container">
		
		{{#unless user}}
			<div>
				<div class="container">
					<h3>Please enter your information</h3> 
					<hr />
					
					<div class="login-form">
						<div class="form-group">
							<label for="exampleInputEmail1" class="text-uppercase">*Your email</label>
							<input id="email" type="text" class="form-control" placeholder="">
						</div>
						<div class="form-group">
							<label for="exampleInputFirstName" class="text-uppercase">*Your first name</label>
							<input id="firstName" type="text" class="form-control" placeholder="">
						</div>
						<div class="form-group">
							<label for="exampleInputFirstName" class="text-uppercase">*Your last name</label>
							<input id="lastName" type="text" class="form-control" placeholder="">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1" class="text-uppercase">
								*Password
								<p>
									<small>(make sure to keep this secret!)</small>
								</p>
							</label>
							<input id="password" type="password" class="form-control" placeholder="">
						</div>
						<div class="form-group">
							<label for="exampleInputPasswordConfirm1" class="text-uppercase">*Confirm password</label>
							<input id="passwordConfirm" type="password" class="form-control" placeholder="">
						</div>
						
						<div class="form-check">
							<button onclick="createNewUser();">Submit</button>
						</div>
					</div>
			</div>
		{{else}}
			<div>
				<h3>
					Sorry, but is would seem that you are currently logged in. Please log out and attempt again.
				</h3>
				<hr />
				<p>
					Best wishes - The Justo team
				</p>
			</div>
		{{/unless}}
		
	</div>
	
	<div>
		<p id="successMessage" ></p>
		<p id="failureMessage" ></p>
	</div>
	
	@MACRO=footer
	
	<script>
		function createNewUser(){
			var password = document.getElementById("password").value;
			var passwordConfirm = document.getElementById("passwordConfirm").value;
			
			if(password === passwordConfirm){
				$.post("/api/newUser", JSON.stringify({
					email: document.getElementById("email").value,
					first_name: document.getElementById("firstName").value,
					last_name: document.getElementById("lastName").value,
					password: document.getElementById("password").value
				})).then(function(data){
					window.location.href = "/login";
				});
			}else{
				alert("Please make sure that your password matches.");
			}
		}
	</script>
	
	@MACRO=utilScripts
	
</body>

</html>